  <%- include footer.html.ejs %>
  <%- include angular.html.ejs %>
  <script src='<%- assets('xxx.js') %>'></script>
  <script src='<%- assets('xxx-templates.js') %>'></script>
  <%- include google_analytics.html.ejs %>
  <!-- PTN.196005dickey.xxx33403038-->
</body>
</html>
